#h1{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: -45rem;
    position: relative;
    z-index: 1;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    height: 30rem;
    margin-left: 32.4%;
    background-color: rgb(20, 20, 36);
    border: 2px solid blue;
    border-radius: 5%;
    position: relative;
    z-index: 1;
}
.record{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding: 5px;
    margin-left: 4rem;
}
#label{
    font-size: 20px;
    color: white;
}
.input{
    font-size: 20px;
    background-color: rgb(31, 30, 30);
    border: 2px solid blue;
    border-radius: 5px;   
}
.input:focus{
    outline: none;
}
#btn{
    display: flex;
    justify-content: center;
    width: 60%;
    margin-left: 6rem;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color:rgb(54, 54, 251);
    border: none;
    padding: 5px; 
    color: rgb(20, 20, 36); 
    transition:ease-in-out 0.3s;
}
#btn:active{
    background-color: rgba(1, 1, 19, 0.82);
    transform: scale(0.95);
}
#btn[disabled]{
    background-color: rgba(1, 1, 19, 0.82);
    transform: scale(1);
}
#txtQuestion{
    margin-left: 33%;
}
#btn-Login{
    color:rgb(0, 0, 255);
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition:ease-in-out 0.3s;
}
#btn-Login:active{
    opacity: 0.9;
}
#user-valid{
    color: rgb(0, 255, 0);
    padding: 20px;
    margin-left: 5.6rem;
    display: none;
    font-size: 20px;
}